@use 'abstracts' as *;

.logo {
  display: inline-flex;
  align-items: center;
  user-select: none;
  font-weight: 800;
  letter-spacing: -0.4px;
  font-family: $font-display, $font-sans;
  line-height: 1;

  &.sizeSm {
    height: 32px;
    font-size: 24px;

    .heartDot {
      width: 11px;
      height: 11px;
      top: -4px;
    }

    .smileyIcon {
      width: 22px;
      height: 17.5px;
    }
  }

  &.sizeMd {
    height: 36px;
    font-size: 28px;

    .heartDot {
      width: 13px;
      height: 13px;
      top: -1.5px;
    }

    .smileyIcon {
      width: 25.5px;
      height: 20px;
    }
  }

  &.sizeLg {
    height: 44px;
    font-size: 34px;

    .heartDot {
      width: 15.5px;
      height: 15.5px;
      top: -2px;
    }

    .smileyIcon {
      width: 31px;
      height: 24.5px;
    }
  }
}

.letterIWrapper {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.heartDot {
  position: absolute;
}

.smileyWrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 1px;
  line-height: 0;
}

.smileyIcon {
  display: block;
}